body {
  box-sizing: border-box;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav a {
  align-self: flex-start;
  margin: 5px;
  display: inline-flex;
}

nav h1 {
  display: inline-flex;
  font-size: 44px;
  margin: 0 0 20px 0;
}

#HouseList {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

#HouseList li {
  padding: 8px;
  margin: 8px;
}

#HouseList li img{
  width: 300px;
}


.DetailedHouse {
  margin: auto;
  background-color: pink;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 600px;
}

.DetailedHouse img {
  width: 600px;
}

#stats {
  align-self: start;

}

#formDiv {
  display: block;
  margin-left: 100%;
}

#update-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

#update-form input {
  width: 300px;
}

#deleteButton {
  width: 80px;
  height: 40px;
  background-color: red;
  border: 1px solid black;
  align-self: center;
}